$paragraph-font: 'Roboto Slab';
$heading-font: 'Montserrat';
$darker-color: #222222;
$dark-color: #777777;
$light-color: #cccccc;
$lighter-color: #ececec;
$primary-color: #7cc576;
$site-width: 1024px;
$breakpoint-tablet: 768px;